<div id="<%= dom_id task %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= task.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sprint:</strong>
    <%= task.sprint_id %>
  </p>

</div>
