<div id="<%= dom_id sprint %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= sprint.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Project:</strong>
    <%= sprint.project_id %>
  </p>

</div>
